$coconut: #FFF9F5;
$pineapple: #FEE485;
$banana: #FEC777;
$mango: #FFB381;
$strawberry: #FFA08C;
$chocolate: #4F000B;

$display: 'Victor Mono', monospace;
$copy: "CooperHewitt", sans-serif;

$display-desktop-large: 72px;
$display-desktop-medium: 60px;
$display-desktop-small: 36px;

$display-mobile-large: 48px;
$display-mobile-medium: 36px;
$display-mobile-small: 24px;

$copy-desktop-large: 42px;
$copy-desktop-medium: 30px;
$copy-desktop-small: 24px;

$copy-mobile-large: 20px;
$copy-mobile-medium: 18px;
$copy-mobile-small: 16px;